body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.App {

}

.app-header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  height: 80px;
}

.header-title {
  font-family: Karla;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.1rem;
  text-align: left;
}

.form--submit {
  width: 82.5%;
  height: auto;
  left: 36px;
  top: 151px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: 1px solid #711F8D;
  font-family: Karla;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.05em;
  text-align: center;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.form--input {
  height: 40px;
  width: 40%;
  left: 36px;
  top: 151px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  margin: 1%;
  font-family: Karla;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
  text-indent: 0.5rem;
}

.input--fields {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 25px;
}

.input--button {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 25px;
}

.image--container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image--text--top {
  position: absolute;
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 0;
}

.image--text--bottom {
  position: absolute;
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: 0;
}


.field--set {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 5px;
}